{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.created }}
            </div>
            <img src="{% static "meme.png" %}" alt="My image" style="width:8em; height: 8em;>
            <h2><a href="/detail/{{ post.id}}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    
    <a class="btn btn-primary" href="/create" role="button">New Post</a>
{% endblock %}
